<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {{ include('parts/_head_css.html.twig') }}
        {% block stylesheets %}{% endblock %}
        {{ include('parts/_head_js.html.twig') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        <main class="container">
            {% block main %}{% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
            {{ include('parts/_footer_js.html.twig') }}
        </footer>
    </body>
</html>
