{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block main %}
        <h1 class="h2">Create new User</h1>
        <section class="alert alert-light">
        {{ include('user/_form.html.twig') }}
        </section>
        <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
