{% extends 'base.html.twig' %}

{% block title %}Users and products{% endblock %}

{% block main %}
        <h1 class="h2">Users and products</h1>
        <section class="alert alert-light">
            hi
        </section>
{% endblock %}
